*{
    margin: 0;  
    box-sizing: border-box;
}

body{
    background-color: rgba(246, 240, 235, 1);
    font-family: 'poppins';
}

.main-container{
    overflow-x: hidden;
    height: 100vh;   
    scroll-behavior: smooth; 
}

header{
    background-color: white;
    width: 100%;
    position: sticky;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 45px;
    max-width: 1290px;
    margin: 0 auto;
}

.logo{
    height: 70px;
    width: 60px;
    cursor: pointer;
}

.menu-bar{
   display: flex;
   justify-content: space-around;
}


.menu-bar a{
    margin-right: 50px;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.25em;  
    text-decoration: none;
    color: rgba(73, 33, 24, 1);
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.pic1{
    margin-top: 60px;
    height: 610px;
    max-width: 90%; 
    width: 1240px;   
}

.cant-resist{
    font-weight: 400;
    font-size: 1.5em;
    color: rgba(73, 33, 24, 1);
    margin-top: 20px;
}

.container h2{
    margin: 200px 0 30px;
    font-weight: 700;
    font-size: 3em;
    color: rgba(73, 33, 24, 1);
}

.pic2{
    max-height: 550px;
    max-width: 85%;
    width: 1100px;
}

.go-top{
    font-size: 32px;
    font-weight: 700;
    color: rgba(73, 33, 24, 1);
    text-align: right;
    margin: 10% auto;
    text-decoration-line: underline;
    cursor: pointer;
    max-width: 80%;
}

.made-by{
    color: rgba(133, 133, 133, 1);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 50px 0;
}

.hamburger-menu , .close-tab{
    visibility: hidden;
    display: none;
}


@media (max-width:1200px) {

    .pic1, .pic2 {
        height: 100%;
    }
    
    .menu-bar a{
        margin-right: 40px;
        font-size: 1.2em;  
    }
}

@media (max-width:  1024px) {

    .pic1, .pic2 {
        height: 100%;
    }
    
    .menu-bar a{
        margin-right: 30px;
        font-size: 1.1em;  
    }
}


@media (max-width: 960px) {

    .container h2{
        font-size: 1.5rem;
        margin: 100px 0 10px;
    }

    .cant-resist{
        font-size: 1em;
    }

    header{
        background-color: transparent; 
        position:sticky;
        top: 0;  
    }

    .header-content{
        padding-right: 5%;        
    }

    .go-top{
        font-size: 20px;     
    }

    .made-by{
        font-size: 12px;
        margin-top: 30px;
        margin-bottom: 10px;
    }


    .side-menu{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        top: 24px;
        right: -340px;
        transition: right 0.5s;
    }

    .side-menu a{
        margin: 10px 30px 10px;
        color: rgba(73, 33, 24, 1);
    }
   

    .close-tab{
        visibility: visible;
        position: absolute;
        top: 12px;
        right: 20px;
        font-size: 32px;
        display: block;
        cursor: pointer;
        color: rgba(73, 33, 24, 1);
    }

    .hamburger-menu{
        visibility: visible;
        height: 55px;
        width: 55px;
        padding-left: 10px;
        padding-bottom: 10px;
        background-color: white;
        border-bottom-left-radius: 100%;        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        font-size: 20px;
    }
}

